footer
  // div
    span.icon-text
      a(href="http://twitter.com/mmai", title="Twitter").icon32.icon-twitter
      span.sr-only Twitter
    span.icon-text
      a(href="http://github.com/mmai", title="Github").icon32.icon-github
      span.sr-only Github
    span.icon-text
      a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa", title="Linkedin").icon32.icon-linkedin
      span.sr-only Linkedin
