// footer
  .social-links
    .icon-text
      span.icon32.icon-twitter
      span.sr-only Twitter
      a(href="http://twitter.com/mmai") @mmai
    .icon-text
      span.icon32.icon-github
      span.sr-only Github
      a(href="http://github.com/mmai") Github
    .icon-text
      span.icon32.icon-linkedin
      span.sr-only Linkedin
      a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa") LinkedIn
