//footer Ceci est un footer
footer
  .social-links
    span.icon-text
      span.icon32.icon-twitter
      span.visuallyhidden Twitter
      a(href="http://twitter.com/mmai") @mmai
    span.icon-text
      span.icon32.icon-github
      span.visuallyhidden Github
      a(href="http://github.com/mmai") Github
    span.icon-text
      span.icon32.icon-linkedin
      span.visuallyhidden Linkedin
      a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa") LinkedIn
