footer.text-center
  span &copy; 2014 Henri Bourcereau
  // span
    a.icon-phone(href="tel:+33662178039") +33 6 62 17 80 39
  span.icon-text
    a(href="http://twitter.com/mmai", title="Twitter").icon-twitter
    span.sr-only Twitter
  span.icon-text
    a(href="http://github.com/mmai", title="Github").icon-github
    span.sr-only Github
  span.icon-text
    a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa", title="Linkedin").icon-linkedin
    span.sr-only Linkedin
