header.container-narrow
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header.container-narrow
        button.navbar-toggle(type="button",data-toggle="collapse",data-target="#menu-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.visible-xs.active(href="/", class=(title == 'Accueil' || title == 'Home')?'active':'') Henri Bourcereau 
      ul.nav.navbar-nav.navbar-right.hidden-xs.lang
        li
          if (lang == "en")
            a(href="/") FRANÇAIS
            - menu = [{title:"Home", url:"/en", collection:""}, {title:"Blog", url: "/en/blog", collection:"blog"}, {title:"Freelance", url: "/en/pages/freelance", collection:''}, {title:"Contact", url: "/en/pages/contact", collection:''}]
          else
            a(href="/en/") ENGLISH
            - menu = [{title:"Accueil", url: "/", collection:""}, {title:"Blog", url: "/blog", collection:"blog"}, {title:"Freelance", url: "/pages/freelance", collection:""}, {title:"Contact", url: "/pages/contact", collection:""}]
      #menu-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-center
          each page in menu
            - var is_current = (path == page.url || "/" + path == page.url || collection == page.collection)
            li(class=is_current?'active':'')
              a(href=page.url)=page.title
        // .social-links.navbar-right
            span.icon-text
              a(href="http://twitter.com/mmai", title="Twitter").icon32.icon-twitter
              span.sr-only Twitter
            span.icon-text
              a(href="http://github.com/mmai", title="Github").icon32.icon-github
              span.sr-only Github
            span.icon-text
              a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa", title="Linkedin").icon32.icon-linkedin
              span.sr-only Linkedin
