header.container-narrow
  .hidden-xs.brandspace
    h2 Henri Bourcereau
    .social-links
        span.icon-text
          a(href="http://twitter.com/mmai", title="Twitter").icon32.icon-twitter
          span.sr-only Twitter
        span.icon-text
          a(href="http://github.com/mmai", title="Github").icon32.icon-github
          span.sr-only Github
        span.icon-text
          a(href="https://www.linkedin.com/pub/henri-bourcereau/0/a22/5aa", title="Linkedin").icon32.icon-linkedin
          span.sr-only Linkedin
  nav.navbar.navbar-default(role="navigation")
    .container-fluid
      .navbar-header.container-narrow
        button.navbar-toggle(type="button",data-toggle="collapse",data-target="#menu-collapse")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        // span.navbar-brand.visible-xs Henri Bourcereau
        if title == "Accueil"
          a.navbar-brand.visible-xs.active(href="/") Henri Bourcereau 
        else
          a.navbar-brand.visible-xs(href="/") Henri Bourcereau 
      ul.nav.navbar-nav.navbar-right.hidden-xs.lang
        if title == "Accueil"
          li
            a(href="/en/pages/home/") ENGLISH
        else
          li
            a(href="/en"+path) ENGLISH
      #menu-collapse.collapse.navbar-collapse
        - menu = [{title:"Accueil", url: "/"}, {title:"Freelance", url: "/pages/freelance"}, {title: "CV", url: "/pages/cv"}, {title:"Contact", url: "/pages/contact"}]
        ul.nav.navbar-nav.navbar-center
          each page in menu
            if title == page.title
              li.active
                a(href=page.url)=page.title
            else
              li
                a(href=page.url)=page.title
