extends base
block content
  h2 Latest posts
  article
    each post in collections.blog
      if post.lang == 'en'
        h3
          - moment.locale('en')
          small!= moment(post.date).format("MMMM DD, YYYY")
          span    
          span!= post.title
        article
          span!= post.excerpt
          span
            a(href="/" + post.path) Read more
