extends base
block content
  h2!= title
  article
    each post in collections.blog
      if post.lang == 'en'
        h3
          small!= moment(post.date).format("MMMM DD, YYYY", 'en')
          span    
          span!= post.title
        article
          span!= post.excerpt
          span
            a(href="/" + post.path) Read more
