extends base
block content
  h1.text-center Contact
  .lead!= contents
  .lead
    .icon-text
      a(href="mailto:henri@bourcereau.fr", title="email").icon-mail &nbsp;henri@bourcereau.fr
    .icon-text
      a(href="tel:+33662178039", title="telephone").icon-phone &nbsp;+33 6 62 17 80 39
    br
    |&hellip;or use the following form : 
  iframe(src="/form_en.php")

