extends base
block content
  .freelance
    h1.text-center Freelance web developer
    br
    .lead I accompany you in your front-end and back-end digital projects, from the requirements definition to the implementation and monitoring
    br
    dl.dl-horizontal
      dt Technologies
      dd.
        I specialize in <strong>PHP5</strong> and <strong>javascript</strong> and master <strong>SPIP</strong>, <strong>Wordpress</strong> and <strong>Drupal</strong> <strong>CMS</strong> for which I make specific modules.
        I am familiar with <strong>CakePHP</strong>, <strong>Django</strong> and <strong>RubyOnRails</strong> frameworks and with <strong>Angular.js</strong> and <strong>React.js</strong> javascript environments.
      dt Methodology
      dd.
        I follow agile methods and software craftmanship philosophy, I strive to select the right tools for each project and pays particular attention to the robustness, performance and sustainability of development. 
      dt Contact
      dd You can check <a href="/pages/cv">my resume</a> and <a href='/pages/contact'>send me a message</a>.
