@require 'inc/elements'

bgdark = #e4e4ec

bglight = #f9f7f2
// bglight #074249

ftdark = #4c5257

//ftligh = #494b4d
ftlight = #f9f7f2

html
  height 100%
body
  // background bglight
  // color ftdark
  font-family "droid-serif","Droid Serif",Georgia,serif
  font-size 16px
// a
//   color ftdark
.container-narrow
  margin 0 auto
  max-width 800px
header
  h1
    // background bgdark
    padding 15px 0 40px 0
.navbar-title
  font-size 1.2em
  display inline-block
  padding-right 20px
  vertical-align super
footer
  margin 20px 0 15px
  border-top bgdark solid 1px
.menu
  display inline-block
  li
    display inline-block
    margin-left 10px

// Home
.screenshots-container
  padding-top 28px

// Freelance
.mylead
  font-size 1.1em

.freelance
  dl
    font-size 1.1em
  dt
    font-size 1.2em
  dd
    padding 0 0 30px 0

// Curriculum Vitae
.cv
  h3
    width 70%
    border-width thin
    border-bottom-style solid
    margin 30px 0 20px
  dd
    padding 0 0 20px 0
  ul
    padding 0
    list-style-type none
  .forcebullets
    padding 0 0 0 1.2em
    list-style-type disc

//   aside
//     float right
//   .address
//     margin 10px
//     font-size 1.2em
//     font-weight bold

//Contact form
formwidth = 600px

.formwidth
  width formwidth

iframe
  display block
  border none
  width formwidth
  height 800px

