bgdark = #e4e4ec
bglight = #f9f7f2
//bglight #074249
ftdark = #4c5257
//ftcolor = #494b4d
ftlight = #f9f7f2

html
  height 100%
body
  background bglight
  color ftdark
  font-family "droid-serif","Droid Serif",Georgia,serif
  font-size 16px
a
  color ftdark
header
  background bgdark
  padding 0 0 10px 0
  margin 0 0 30px 0
  h1
    display inline-block
  .lang
    float right
.menu
  display inline-block
  li
    display inline-block
    margin-left 10px

.social-links
  img
    margin 3px

.cv
  aside
    float right
  h2
    width 70%
    border-width thin
    border-bottom-style solid
    margin 30px 0 20px
  .address
    margin 10px
    font-size 1.2em
    font-weight bold

formwidth = 600px

.formwidth
  width formwidth

iframe
  display block
  border none
  width formwidth
  height 800px

