@require 'inc/elements'

bgdark = #e4e4ec

bglight = #f8f8f8
// bglight #074249

ftdark = #4c5257

//ftlight = #494b4d
ftlight = #f9f7f2

html
  height 100%
body
  // background bgligh
  // color ftdark
  font-family "droid-serif","Droid Serif",Georgia,serif
  font-size 16px
// a
//   color ftdark
.container-narrow
  margin 0 auto
  max-width 800px
header
  .navbar-brand
    font-size 22px
  h1
    // background bgdark
    padding 15px 0 40px 0
  .brandspace
    text-align center
    padding-bottom 10px

.navbar-title
  font-size 1.2em
  display inline-block
  padding-right 20px
  vertical-align super

.lang
  font-size 0.8em

footer
  margin 30px 0 15px
  padding 20px 0 0 0
  border-top bgdark solid 1px
  font-size 16px
  color ftdark
  span
    margin 10px
  .icon-twitter, .icon-github, .icon-linkedin
    font-size 1.1em
    color ftdark

// Home
.screenshots-container
  padding-top 28px

// Blog
.post
  font-size 1.2em
  h2
    margin-bottom 5px
  .metas
    // font-size 1.1em
    font-style italic
    margin-bottom 20px
  img
    margin 20px
  pre
    margin 20px 10px 30px 10px
.comments
  margin-top 30px
// Freelance
.mylead
  font-size 1.1em

.freelance
  dl
    font-size 1.1em
  dt
    font-size 1.2em
  dd
    padding 0 0 30px 0

// Curriculum Vitae
.cv
  h3
    width 70%
    border-width thin
    border-bottom-style solid
    margin 30px 0 20px
  dd
    padding 0 0 20px 0
  ul
    padding 0
    list-style-type none
  .forcebullets
    padding 0 0 0 1.2em
    list-style-type disc

//   aside
//     float right
//   .address
//     margin 10px
//     font-size 1.2em
//     font-weight bold

//Contact form
iframe
  display block
  border none
  width 100%
  height 650px

