extends base
block content
  h1.text-center Derniers articles
  article
    each post in collections.blog
      if post.lang == '.'
        h3
          span    
            a(href=post.path)!= post.title
          - moment.locale('fr')
          &nbsp;
          small!= moment(post.date).format("DD MMMM YYYY")
        article!= post.excerpt
          // span
            a(href=post.path) lire la suite
