extends base
block content
  h2 Derniers articles
  article
    each post in collections.blog
      if post.lang == '.'
        h3
          - moment.locale('fr')
          small!= moment(post.date).format("DD MMMM YYYY")
          span    
            a(href=post.path)!= post.title
        article
          span!= post.excerpt
          span
            a(href=post.path) Lire la suite
