extends base
block content
  .cv
    a.icon-file-pdf(href="/CV_HenriBourcereau.pdf", title="CV Henri Bourcereau")  Télécharger au format PDF
    h2 Ingénieur développement web
    .lead.
      Conception et développement back et front-end.<br>
      Environnement open-source et méthodologies agiles.

    h3 Expérience
    dl.dl-horizontal
      dt Depuis Mars 2014
      dd
        strong Développeur web indépendant
      dt Août 2003 <br>à février 2014
      dd
        strong Websiteburo / WSB
        div.
          Co-fondateur, Directeur informatique
        ul.forcebullets
          li Définition des orientations technologiques et organisation de la veille
          li Mise en place des outils et procédures de développement
          li Scrum Master
          li Rédaction des réponses techniques aux appels d'offre
          li Développeur senior PHP
      dt Janvier 2000<br> à août 2003
      dd
        strong Archimedia
        div.
          Administrateur système, Développeur  
          Directeur informatique à partir de 2001
      dt Juillet <br>à décembre 1999
      dd
        strong CETE du Sud-Ouest
        div Développeur web

    h3 Compétences
    dl.dl-horizontal
      dt Back-end 
      dd
        ul
          li PHP (MVC / OOP)
          li Python (Django)
          li Ruby (Ruby on rails)
          li Node.js, développement de modules NPM
          li Base de données : Postgresql, MySQL, MongoDB
      dt CMS
      dd
        ul
          li Wordpress (développement de plugins mono et multisite)
          li Drupal (développement de plugins)
          li SPIP (développement de plugins)
          li Prestashop
      dt Front-end
      dd
        ul
          li HTML5, CSS, bootstrap, compass, grunt, gulp,
          li Javascript : jQuery, Angular, React.js, Backbone, développement de plugins Firefox et Chrome
          li Accessibilité : W3C, Opquast
      dt Méthodes de<br/>développement
      dd
        ul
          li UML, Programmation Orientée Objet
          li Tests Driven Development
          li Behaviour Driven Development
          li Tests d'integration, test d'acceptation
          li Intégration continue
          li Extreme programming
      dt Gestion de projet
      dd
        ul
          li SCRUM, Kanban
          li Outils : Redmine, Pivotal Tracker
      dt Administration<br/>système
      dd
        ul 
          li Linux (Debian / Ubuntu)
          li Serveurs web : Apache, Nginx
          li shell scripting : bash, zsh, sed, awk, ...
      dt Outils
      dd
        ul 
          li vim 
          li Git, Subversion
          li FitNesse, Jenkins
          li Redmine, Pivotal Tracker
        
    h3 Études
    dl.dl-horizontal
      dt 1999 
      dd DUT informatique à l'Université de Bordeaux I
      dt 1996
      dd Licence de mathématiques pures  à la Faculté des sciences de Nantes
    h3 Divers
    dl.dl-horizontal
      dt Anglais
      dd Lu et écrit couramment 
      dt Espagnol
      dd Élémentaire
