extends base
block content
  .freelance
    h1.text-center Développeur web indépendant
    br
    .lead Je vous accompagne dans vos projets numériques front-end et back-end, de la définition des besoins à la réalisation et au suivi.
    br
    dl.dl-horizontal
      dt Technologies
      dd.
        Mes Environnements de prédilection sont actuellement le framework <strong>PHP5</strong> <strong>Symfony</strong> et <strong>React.js</strong> pour la partie <strong>javascript</strong>.<br/>
        Je maîtrise également les <strong>CMS</strong> <strong>SPIP</strong> et <strong>Wordpress</strong> pour lesquels je réalise des modules spécifiques.  
      dt Méthodologie
      dd.
        Adepte des méthodes agiles et de la philosophie software craftmanship, je m'attache à sélectionner les outils adaptés à chaque projet et apporte un soin particulier à la robustesse, à la performance et à la pérennité du développement.  
      dt En savoir plus
      dd Vous pouvez consulter mon <a href="/pages/cv">CV</a> et me <a href='/pages/contact'>laisser un message</a>.


    // Je peux également intervenir sur des projets <strong>CakePHP</strong>, <strong>Django</strong>, <strong>RubyOnRails</strong> et <strong>Angular.js</strong>.

    // Sensibilisé aux bonne pratiques de SEO, de qualité et d'accessibilité, 
    // Au fil de mon parcours, j'ai acquis une vision globale de l'écosystème web, depuis les problématique d'administration système.
    // Je possède également une solide expérience en administration système orienté web.
    // Expérience dans la reprise de code légacy, accompagnement dans la durée.
