extends base
block content
  div.formwidth Retrouvez-moi sur <a href="http://twitter.com/mmai">twitter</a> et <a href="http://github.com/mmai">Github</a> ou laissez-moi un message avec ce formulaire.

  iframe(src="/form.php", width="800", height="400")

