extends base
block content
  div.
    Concepteur, développeur web back et front-end. Environnement open-source et  méthodologies agiles.
    
  div.formwidth Retrouvez-moi sur <a href="http://twitter.com/mmai">twitter</a> et <a href="http://github.com/mmai">Github</a>

